@font-face {
  font-family: "icons";
  src: url('src/assets/icons/icons.eot?de9c6a08e64fec1b24add20d3b3c4a46');
  src: url("src/assets/icons/icons.eot?#iefix") format("embedded-opentype"),
  url("src/assets/icons/icons.woff?de9c6a08e64fec1b24add20d3b3c4a46") format("woff"),
  url("src/assets/icons/icons.ttf?de9c6a08e64fec1b24add20d3b3c4a46") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-size: 28px;
  top: 7px;
  position: relative;
}

.close-icon {
  position: absolute;
  right: 0;
  top: -20px;
}

.backIcon {
  margin-left: 6px;
  margin-right: 29px;
}

.doneIcon {
  right: 15px;
}

.category-icons {
  border-radius: 100%;
  border-style: solid;
  width: 40px;
  height: 40px;
  text-align: center;
  border-width: 1px;
  padding: 1px;
  margin: 0;
}

[class^="wyzeicon-"]:before,
[class*=" wyzeicon-"]:before {
  font-family: "icons", Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wyzeicon-account-granit:before {
  content: "\f101";
}

.wyzeicon-account-obligations:before {
  content: "\f102";
}

.wyzeicon-account-otp:before {
  content: "\f103";
}

.wyzeicon-account-raiffeisen:before {
  content: "\f104";
}


.wyzeicon-account-savings:before {
  content: "\f105";
}


.wyzeicon-account-wallet:before {
  content: "\f106";
}


.wyzeicon-category-education:before {
  content: "\f107";
}


.wyzeicon-category-expense:before {
  content: "\f108";
}


.wyzeicon-category-financial:before {
  content: "\f109";
}


.wyzeicon-category-fun:before {
  content: "\f10a";
}


.wyzeicon-category-gift-received:before {
  content: "\f10b";
}


.wyzeicon-category-gift:before {
  content: "\f10c";
}


.wyzeicon-category-groceries:before {
  content: "\f10d";
}


.wyzeicon-category-healthbeauty:before {
  content: "\f10e";
}


.wyzeicon-category-home:before {
  content: "\f10f";
}


.wyzeicon-category-household:before {
  content: "\f110";
}


.wyzeicon-category-income:before {
  content: "\f111";
}


.wyzeicon-category-investment-income:before {
  content: "\f112";
}


.wyzeicon-category-loan-income:before {
  content: "\f113";
}


.wyzeicon-category-pets:before {
  content: "\f114";
}


.wyzeicon-category-salary:before {
  content: "\f115";
}


.wyzeicon-category-savings:before {
  content: "\f116";
}


.wyzeicon-category-scholarship:before {
  content: "\f117";
}


.wyzeicon-category-shopping:before {
  content: "\f118";
}


.wyzeicon-category-transfer:before {
  content: "\f119";
}


.wyzeicon-category-transportation:before {
  content: "\f11a";
}


.wyzeicon-category-withdraw-deposit:before {
  content: "\f11b";
}


.wyzeicon-category-withdrawal:before {
  content: "\f11c";
}


.wyzeicon-category-work-business:before {
  content: "\f11d";
}


.wyzeicon-icon-account:before {
  content: "\f11e";
}


.wyzeicon-icon-category:before {
  content: "\f11f";
}


.wyzeicon-icon-comment:before {
  content: "\f120";
}


.wyzeicon-icon-magnifier:before {
  content: "\f121";
}


.wyzeicon-icon-material-account:before {
  content: "\f122";
}


.wyzeicon-icon-material-comment:before {
  content: "\f123";
}


.wyzeicon-icon-material-home:before {
  content: "\f124";
}


.wyzeicon-icon-material-list:before {
  content: "\f125";
}

.wyzeicon-icon-name:before {
  content: "\f126";
}

.wyzeicon-icon-partner:before {
  content: "\f127";
}

.wyzeicon-icon-tag:before {
  content: "\f128";
}

.wyzeicon-piechart:before {
  content: "\f129";
}

