<div class="card isc-list">
  <div class="card-parent-block">
    <div class="isc-list-header">
      <div class="isc-list-title">
        Információ megosztásra adott felhatalmazásaim
        <button mat-icon-button (click)="showInfoSharingListComment()" class="help-outline-button">
          <i class="material-icons help-outline-icon" matTooltip="Mi ez pontosan?">
            help_outline
          </i>
        </button>
      </div>
    </div>
    <div *ngIf="infoSharingConsents.length == 0">
      <p id="no-isc-in-model">Nem osztott meg harmadik féllel banki információkat</p>
    </div>
<!--    <div *ngFor="let infoSharingConsent of (infoSharingConsents | async)" class="customers">-->
<!--      <div class="customer-list">-->
<!--        <div class="customerListIcon">-->
<!--          <img src="{{keycloakResourcesPath | async}}/customers/{{cutIscName(infoSharingConsent.customer.name)}}_mini.png" class="customer-icon" alt="missing_mini_logo">-->
<!--        </div>-->
<!--        <div class="customerListName">{{infoSharingConsent.customer.companyName}}</div>-->
<!--        <button mat-icon-button class="customer-list-arrow" (click)="openCustomer(infoSharingConsent)">-->
<!--          <i class="material-icons customer-list-arrow-icon">-->
<!--            keyboard_arrow_right-->
<!--          </i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
