.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.19), 0 6px 50px rgba(0, 0, 0, 0.23);
}

.close-side-nav-icon {
  z-index: 11;
  color: white;
}
