<section class="sidenav">
  <div class="close-dialog-block " (click)="closeSideNav()">
    <i class="material-icons close-icon close-side-nav-icon">close</i>
  </div>
  <section class="profile-block">
    <i class="material-icons profile-icon">
      account_circle
    </i>
    <div class="email-address">
      {{(userData | async)?.email}}
    </div>
  </section>
  <section class="sidenav-links">
    <div class="sidenav-menu-element">
      <a mat-button (click)="editProfile()">
        <i class="material-icons">
          account_circle
        </i>
        <label>Profil</label>
      </a>
    </div>
    <div class="sidenav-menu-element">
      <a mat-button (click)="logout()">
        <i class="material-icons">
          exit_to_app
        </i>
        <label>Kijelentkezés</label>
      </a>
    </div>
  </section>

</section>
