<div class="close-dialog-block" (click)="closeDialog()">
  <i class="material-icons close-icon">close</i>
</div>
<p class="isc-list-comment">
  Az companyName segítségével már nem csak Ön tekintheti át egyszerűen a pénzügyeit,
  hanem bankszámla információit megoszthatja <a href="http://aggreg8.io/szerzodott_uzleti_partnerek/" target="_blank">szerződött
  partnereinkkel</a> is.
  Ezáltal partnereink gyorsabb vagy jobb szolgáltatásokat nyújthatnak Önnek.
</p>
<p class="isc-list-comment">
  Ezen az oldalon a szerződött üzleti partnereinknek korábban adott információ megosztási felhatalmazásait tekintheti
  át,
  szerkesztheti, vagy akár vissza is vonhatja.
</p>
