<app-info-sharing-list></app-info-sharing-list>
<div class="card">
  <!--            <app-info-sharing-confirm-component *ngIf="( visibleComponent | async ) == visibleComponentsElement.INFO_SHARING_CONFIRM_UI"></app-info-sharing-confirm-component>-->
</div>
<!--          <app-info-sharing-edit *ngIf="( visibleComponent | async ) == visibleComponentsElement.INFO_SHARING_EDIT_UI"></app-info-sharing-edit>-->
