<div class="transaction-detail-button">
  <button mat-icon-button class="transaction-detail-header-close-icon details-dialog-close"
          (click)="closeDialog()">
    <i class="material-icons">close</i>
  </button>
</div>
<div *ngIf="(selectedTransaction | async) as transaction">
  <div class="transaction-detail-header"
       [ngStyle]="{'background': transactionService.addCategoryClassName(transaction).categoryColor}">
    <div class="transaction-detail-header-category">
      <i
        class="wyzeicon wyzeicon-{{transactionService.addCategoryClassName(transaction).categoryClassName}} transaction-detail-category-icon"
        id="icon">
      </i>
    </div>
    <div class="transaction-detail-header-data">
      <div *ngIf="transaction.original_partner else NOPARTNER">
        <div class="transaction-detail-name">{{transaction.original_partner.name }} </div>
      </div>
      <ng-template #NOPARTNER>
        <div class="transaction-detail-name">{{transaction.comment }}</div>
      </ng-template>
      <div> {{transaction.amount}} Ft</div>
    </div>
  </div>
  <div class="transaction-detail-body transaction-dialog">
    <label>Tranzakció neve</label>
    <div class="transaction-detail-name"> {{transaction.name }} </div>
    <label>Kategória</label>
    <div class="transaction-category">
      <div [ngStyle]="{'border-color': transactionService.addCategoryClassName(transaction).categoryColor}"
           id="category-icons">
        <i class="icon wyzeicon wyzeicon-{{transactionService.addCategoryClassName(transaction).categoryClassName}}"
           style.color="{{transactionService.addCategoryClassName(transaction).categoryColor}}">
        </i>
      </div>
      <div
        class="category-name">{{translateService.instant(transactionService.addCategoryClassName(transaction).categoryName)}}</div>
    </div>
    <label>Dátum</label>
    <div> {{transaction.date | date:'yyyy.MM.dd'}} </div>
    <label>Megjegyzés</label>
    <div class="transaction-comment-text"> {{transaction.comment}} </div>
    <label>Létrehozva</label>
    <div> {{transaction.created | date:'yyyy.MM.dd'}}</div>
  </div>
</div>
