<app-sidenav *ngIf="sideNavIsOpen | async"></app-sidenav>
<div class="header">
  <div class="logo-menu">
    <img src="assets/customers/aggreg8_standalone.png" class="logo">
    <div class="header-icons  right">
      <button mat-icon-button (click)="openSideNav()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
    </div>
  </div>
</div>
