<div *ngIf="!(emptyTransactions | async) else EMPTYTRANSACTIONS">
  <div id="formattedTransactions" *ngIf="(formattedTransactions | async) as formattedTransactions">
    <div class="transaction-list-header">
      <label class="first-column flex-center-middle-column date-header">Dátum</label>
      <label class="category-column flex-center-middle-column">Kategória</label>
      <label class="transaction-name-column flex-center-middle-column">Tranzakció neve</label>
      <label class="amount-column flex-center-middle-column">Összeg</label>
      <div class="arrow-right"></div>
    </div>
    <div *ngFor="let key of keys(formattedTransactions)">
      <div id="transactions-summary">
        <div class="flex">
          <div class="date">{{key}}</div>
          <div class="right transaction-sum-amount">{{formattedTransactions[key].sum}} Ft</div>
        </div>

      </div>
      <div id="transaction-list-element-parent" *ngFor="let transaction of formattedTransactions[key].transactions">
        <div class="transactions-contain">
          <div class="first-column flex-center-middle-column">
            <div class="name"> {{transaction.date | date:'yyyy.MM.dd'}} </div>
          </div>
          <div class="category-column">
            <div [ngStyle]="{'border-color': transactionService.addCategoryClassName(transaction).categoryColor}"
                 id="category-icons">
              <i class="icon wyzeicon wyzeicon-{{transactionService.addCategoryClassName(transaction).categoryClassName}}"
                 style.color="{{transactionService.addCategoryClassName(transaction).categoryColor}}"></i>
            </div>
            <div
              class="category-name">{{translateService.instant(transactionService.addCategoryClassName(transaction).categoryName)}}</div>
          </div>
          <div class="transaction-name-column flex-center-middle-column">
            <div class="name transaction-name"> {{transaction.name }} </div>
          </div>
          <div class="amount-column flex-center-middle-column">
            <div class="other-info"> {{transaction.amount}} Ft</div>
          </div>
          <div class="arrow-right">
            <button mat-icon-button (click)="showTransactionDetails(transaction)"><i
              class="material-icons keyboard_arrow_right">keyboard_arrow_right</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #EMPTYTRANSACTIONS>
  <p class="empty-transactions">Nincs megjeleníthető tranzakció</p>
</ng-template>
