@import "src/assets/icons/icons";

#transactions-summary {
  height: 50px;
  background: #34495E;
  color: white;
  font-size: 14px;
  position: relative;
  padding-left: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.transaction-name {
  max-width: 250px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
