@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: 'Roboto';
  color: #8795A8;
}

a {
  color: #34495E;
}

.mat-dialog-container {
  position: relative;
}

.determinate-progress-value {
  top: -78px;
  font-weight: bold;
  margin-bottom: 0px !important;
}

/*from oidc_basic_css*/

.mat-expansion-indicator:after {
  display: none !important;
}

.accordion-add-icon {
  color: #34495E;
  padding-right: 15px;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.back-button-color {
  color: #8795A8 !important;
  background: #FFFFFF !important;
}

.header {
  background: #34495E;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.opened-sidenav {
  width: 280px;
}

.closed-sidenav {
  width: 0;
}

.aggreg8-icon {
  height: 27px;
  right: 16px !important;
}

.logo-menu {
  display: flex;
  background: #34495E;
  align-items: center;
  max-width: 160px;
}

.right-dialog-button {
  margin-left: 50px !important;
}

.back-button {
  float: left;
  left: 0;
  background: none;
  border: none;
  margin-top: 8px;
  color: #005B35;
  margin-right: -49px;
  margin-left: 12px;
}

#checked-account-list {
  font-size: 16px;
  font-weight: normal;
  color: #8795A8;
}

.flex {
  display: flex;
}

.menu-icon {
  font-size: 26px !important;
}

.header-icons {
  right: 15px !important;
}

.filter-icon {
  font-size: 26px !important;
}

.filter-button {
  margin-right: 25px !important;
}

.current_checked_account_deleted_text {
  position: relative;
  top: -6px;
}

.current_checked_account_deleted {
  color: #f44336;
  font-size: 12px;
}

.details-dialog-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

/*email*/

.current-email {
  margin-top: 20px;
}

.current-email-data {
  margin-left: 20px;
}

/*tabs*/

.consent-list-card {
  margin-top: 15px;
}

.tab-group {
  width: 100%;
}

.mat-tab-label {
  min-width: 119px !important;
  opacity: 1 !important;
  height: 55px;
  color: #FFFFFF !important;
}

.mat-tab-label-container {
  padding-top: 20px;
}

.mat-tab-header {
  background: #34495E !important;
  color: white !important;
}

.mat-icon {
  color: white !important;
}

.tab-icon {
  font-size: 33px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #8795A8 !important;
  height: 5px;
}

button.mat-raised-button {
  background: #34495E;
  text-transform: uppercase !important;
  color: #FFFFFF;
  margin: 8px 5px;
  font-weight: 500;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}


p {
  font-family: 'Roboto Regular', arial;
  position: relative;
  display: block;
  opacity: 0.8;
  line-height: 18px;
}

.center-content {
  margin: auto;
  padding: 5px 20px 20px;
}

.mat-tab-body {
  text-align: center !important;
}

.main-content {
  font-family: 'Roboto Regular', arial;
  font-size: 13px;
  position: relative;
  color: #56656f !important;
  display: block;
  width: inherit;
  text-align: center;
}

.main-title {
  font-weight: 500;
  color: #34495E;
}

ul {
  font-family: 'Roboto Regular', arial;
  font-size: 13px;
  position: relative;
  display: block;
  margin-left: -10px;
}

.mat-input-element {
  caret-color: #34495E !important;
}

li {
  opacity: 0.8;
}

.subtitle {
  margin: 10px 0px;
  display: flex;
  font-size: 16px;
  color: #34495E;
  font-weight: 500;
  margin-top: 28px;
}

.bold {
  font-weight: bold;
}

.right {
  position: absolute !important;
  float: right;
  right: 15px;
}

.dark {
  margin: 8px 0px;
  font-weight: 600;
}

#flex {
  display: flex;
}

.half-button {
  width: 100px !important;
  margin: 8px 0px !important;
}

.sync-button {
  width: 200px !important;
  height: 37px !important;
}

.permission-list-element {
  padding-left: 15px;
  color: #8795A8;
}

.mat-expansion-panel-header {
  padding: 0 10px !important;
}

.input-element {
  width: 100% !important;
  color: #56656f !important;
  margin-bottom: 15px
}

.otp-main-account-number {
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-right: 10px;
}

.selected-account-list {
  font-size: 16px;
  text-align: center;
  margin: 20px 0px;
  margin: auto;
}

#sync-done-icon {
  margin: 30px auto 20px auto;
  font-size: 35px;
  color: #34495E
}

.mat-progress-spinner circle,
.mat-spinner circle {
  /* stroke: #85919E !important;*/
  stroke: #34495E !important;
}

.mat-form-field-ripple {
  background-color: #34495E !important;
}

.mat-form-field.mat-focused.mat-primary.mat-select-arrow {
  background-color: #34495E !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #34495E !important;
}

.mat-primary {
  color: #34495E !important;
}

.mat-focused {
  color: #34495E !important;
}

#error {
  color: #f44336;
  text-align: center;
  font-size: 15px;
  position: relative;
  display: block;
  opacity: 0.8;
  line-height: 18px;
  margin-bottom: 30px;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-label {
  color: #34495E !important;
}

.mat-form-field-invalid .mat-form-field-label {
  color: #f44336 !important;
}

.mat-focused .mat-form-field-required-marker {
  color: #34495E !important;
}

.center-align {
  text-align: center;
}

#progress-spinner {
  margin: auto;
  margin: 30px auto;
}

.edit-mode-button {
  margin-top: -10px !important;
  color: #8795A8 !important;
  margin-right: 6px !important;
}

.bank-name {
  color: #34495E;
  font-weight: 500;
  height: 20px;
  padding-top: 8px;
}

.mat-card {
  color: #8795A8 !important;
  padding: 21px 16px 35px 16px !important;
}

.successful-sync {
  font-size: 12px;
  line-height: 15px;
}

.new-bank-button {
  right: 10px;
  margin-top: 39px !important;
  margin-bottom: 21px !important;
  font-size: 15px !important;
}

.bank-logo {
  height: 38px;
  width: 39px;
  margin-right: 12px;
}

.account-name {
  color: #34495E;
}

/*K&H error*/
.KH_error_text {
  margin: 20px 0px;
}

.KH_error {
  font-size: 16px;
}

/**transaction list*/

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  font-size: 14px;
}

.info-sharing-consent-account-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#other-info {
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #8795A8;
  font-size: 14px;
}

/*transaction*/

.transactions-contain {
  display: flex;
  width: 100%;
}

.first-column {
  width: 10%;
}

.date-header {
  margin-right: 20px;
}

.category-column {
  width: 30%;
  display: inline-flex;
  margin-left: 20px;
  padding: 5px 0px;
  text-align: left;
}

.category-name {
  padding: 15px;
}

.transaction-name-column {
  width: 35%;
  text-align: left;
}

.pocket-column {
  width: 20%;
}

.amount-column {
  width: 25%;
}

.arrow-right {
  width: 60px;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}

.flex-center-middle-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#transaction-list-element-parent {
  height: 60px;
  border-bottom: 1px solid #D3D3D3;
  //padding: 0px 15px;
  width: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.keyboard_arrow_right {
  font-size: 45px;
  color: #8795A8;
}

.transaction-filter-dialog {
  margin: -24px !important;
}

.mat-tab-body-content {
  min-height: 620px !important;
  overflow: hidden !important;
}

.error-parent-block {
  margin: 20px auto;
}

.date {
  font-size: 14px;
}

.transaction-sum-amount {
  right: 14% !important;
}

.align-left {
  text-align: left;
}

#alignRight {
  text-align: right;
}

#backBtnTransactionUi {
  margin: 20px 0px !important;
}

.bankAndAccountName {
  max-width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction-center-content {
  margin: auto;
}

.filtered-content {
  background: #8795A8;
  color: #FFFFFF;
  padding: 15px;
}

.fitlered-title {
  font-size: 18px;
  font-weight: bold;
}

.filtered-accounts {
  text-align: center;
  margin-bottom: 16px;
}

.filtered-account-name {
  font-size: 15px;
  font-weight: bold;
}

.filterHeader {
  background: #34495E;
  display: flex;
  align-items: center;
  height: 45px;
  color: #FFFFFF;
  font-size: 17px;
}

.filterUiBody {
  background: #FFFFFF;
}

.filterAccounts {
  height: 72px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  font-size: 16px;
  margin-bottom: 1px;
}

.filterTitle {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #FFFFFF;
  padding-left: 16px;
  height: 45px;
  background: #8795A8;
}

.filterLogo {
  margin-top: 2px;
  margin-left: 17px;
}

.filterAccountNumber {
  font-size: 15px;
  padding-left: 14px;
}

.transactionFilterAccounts {
  margin-left: 10px;
}

inactiveTransactionFilterAccount {
  color: #8795A8;
}

.activeTransactionFilterAccount {
  background: #34495E;
  color: #FFFFFF;
}

.transaction-date-filter-block {
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dateFilter {
  width: 130px !important;
  margin-right: 14px;
  margin-left: 11px;
  font-size: 17px !important;
  color: #34495E;
}

.date-filter-data {
  width: 130px !important;
  text-align: center;
  display: flex;
  font-size: 15px !important;
  color: #FFFFFF;
  margin: auto;
}

.dateSeparation {
  width: 28px !important;
  color: #34495E;
}

.mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  font-size: 24px;
}

.cluster {
  color: #8795A8;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#account-list {
  margin-bottom: 21px;
}

.mat-checkbox-inner-container {
  margin-left: 13px !important;
  margin-right: 37px !important;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: #34495E !important;
}

.largeBtn {
  height: 45px !important;
  width: 100% !important;
  margin: 5px 0px !important;
}

.mobil-large-button {
  height: 45px !important;
  width: 100% !important;
  margin: 5px 0px !important;
}

.data-purpose-list-element {
  font-size: 16px;
  color: #8795A8;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 20px;
}

.isc-separation-line {
  border: 0.5px solid #8795A8;
  opacity: 0.5;
}

#accessRevocation {
  margin: 20px 0px 40px 0px;
}

.mat-expansion-panel-body {
  padding: 0 24px !important;
}

.empty-transactions {
  text-align: center;
  margin: 20px 0px;
  font-size: 17px;
}

.consent-list-component {
  display: grid;
}

.transaction-list-header {
  height: 36px;
  display: flex;
}

.close-dialog-block {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #34495E;
  cursor: pointer;
  z-index: 1;
}

.transaction-detail-body > div {
  font-size: 16px;
  margin-bottom: 20px;
}

.transaction-detail-body > label {
  opacity: 0.7;
}

.transaction-category {
  display: flex;
  margin-top: 5px;
}

.transaction-detail-header-category {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-detail-header {
  height: 250px;
}

.transaction-detail-body {
  padding: 24px;
  line-height: 25px;
}

.transaction-detail-category-icon {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 60px !important;
}

.transaction-detail-header-data {
  color: #FFFFFF;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
}

.transaction-detail-header-close-icon {
  position: absolute !important;
  color: #FFFFFF !important;
}

.transaction-detail-dialog {
  margin: -24px;
}

.transaction-dialog {
  padding: 35px;
  max-height: 300px;
}

.isc-list-title {
  font-size: 18px;
}

.isc-list-header {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}

.customer-list {
  border-bottom: 0.5px solid #E0E0E0;
  border-top: 0.5px solid #E0E0E0;
  height: 60px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 17px;
  padding-right: 26px;
  font-size: 17px;
  color: #34495E;
  font-weight: bold;
}

.customer-list-arrow {
  right: 20px;
  position: absolute !important;
}

.customer-list-arrow-icon {
  font-size: 30px;
  font-weight: 500;
}

.customer-icon {
  height: 35px;
  margin-right: 25px;
}

.isc-list {
  background: #FFFFFF;
  min-height: 300px;
}

.standalone-flex {
  display: flex;
}

.standalone-padding {
  padding: 10px;
}

/*account-list*/
.accounts-per-bank {
  display: flex;
  border-bottom: 1px solid #D3D3D3;
}

.bank-in-account-list {
  padding: 20px;
  width: 150px;
  display: flex;
}

.account-name-in-account-list {
  font-size: 16px;
  color: #34495E;
  font-weight: 500;
}

.accounts-in-account-list {
  padding: 20px;
  width: 250px;
}

.bank-name-in-account-list {
  font-size: 20px;
  color: #34495E;
  font-weight: 500;
  padding-top: 8px;
}

.balances-in-account-list {
  right: 44px;
  position: absolute;
  font-size: 18px;
  color: #34495E;
  padding-top: 8px;
}

.balances {
  display: block !important;
  width: 660px;
  margin: auto;
}

.total-balances {
  width: 350px;
  margin-bottom: 0px !important;
  background-color: #34495E !important;
  text-align: center !important;
  padding-top: 1% !important;
  padding-bottom: 1px !important;
  border-radius: 8px !important;
}

.total-balances-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  opacity: 3;
}

.total-balances-value {
  color: white;
  font-size: 24px;
  font-weight: bold;
  opacity: 3;
}


/*sidenav*/


.profile-block {
  padding-left: 20px;
  background: #34495E;
  margin-top: -20px;
  position: relative;
  padding-top: 100px;
  height: 130px;
  display: block;
  color: #FFFFFF;
}

.profile-icon {
  font-size: 60px;
}

.email-address {
  font-size: 17px;
  margin-top: 15px;
  padding-left: 10px;
}

.sidenav-links {
  padding: 26px;
}

.sidenav-menu-element {
  margin-bottom: 23px;
  font-size: 40px;
}

.sidenav-menu-element label {
  color: black;
  margin-left: 15px;
  font-size: 16px;
}

.sidenav-menu-element a {
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 980px) {
  .consent-list-card {
    width: 450px;
    margin: 20px auto;
  }

  .consent-list-new-bank-button {
    width: 490px;
    text-align: right;
    margin: auto;
    margin-top: 10px;
  }

  .consent-list-component {
    background: #E0E0E0
  }

  .pocket-column {
    display: none;
  }
}

@media screen and (min-width: 981px) {
  .consent-list-elements:nth-child(odd) {
    float: left;
    width: 450px;
    margin-right: 20px;
  }

  .consent-list-elements:nth-child(even) {
    float: right;
    width: 450px;
  }

  .consent-list-elements {
    height: 100%;
  }

  .consent-list {
    margin: auto;
    max-width: 920px;
  }

  .consent-list-new-bank-button {
    width: 920px;
    text-align: right;
    margin: auto;
    margin-top: 10px;
  }

  .transaction-filter-dialog {
    width: 700px;
  }

  .bankAndAccountName {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 30px;
  }

  .mat-tab-label {
    margin: auto;
  }

  .category-name {
    display: none;
  }

  .first-column {
    display: none;
  }

  .transaction-filter-dialog {
    margin: -24px !important;
    height: 200px;
    overflow: scroll;
    overflow-y: scroll;
    position: relative;
    height: 650px;
  }

  .total-balances {
    width: 100%;
    margin-bottom: 0px !important;
    padding: 2% !important;
    border-radius: 0 !important;
  }

  .bank-in-account-list {
    width: 87px !important;
  }


  .balances-in-account-list {
    right: 10px !important;
  }

  .otp-main-account-number {
    padding-top: 17px !important;
  }
}

@media screen and (min-width: 600px) {
  .isc-list {
    padding-top: 50px;
    width: 100%;
  }

  .isc-list-title {
    margin-bottom: 21px;
  }

  .customer-icon {
    margin-left: 50px;
  }

  .error-parent-block {
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 25px;
    max-width: 1030px !important;
  }
}

@media screen and (min-width: 601px) {
  body {
    background-color: #E0E0E0;
    padding-bottom: 40px;
  }

  .oidc-content-body {
    max-width: 1030px !important;
    margin: auto;
  }

  .card {
    margin-bottom: 20px;
    background: #FFFFFF;
    text-align: left;
    margin-top: 15px;
    max-width: 1030px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .data-purpose-list-element {
    position: relative;
    max-width: 500px;
    margin: auto;
    margin-top: 25px;
  }

  .isc-separation-line {
    margin: 34px;
    margin-left: 0px;
    width: 85% !important;
  }

  .isc-confirm-block {
    margin: auto;
    position: relative;
    width: 604px;
  }

  .subscription-isc-confirm {
    width: 604px;
  }

  .inner-card {
    margin: 48px 22px 21px 22px !important;
  }

  .isc-confirm-inner-card {
    padding: 24px;
    margin: 48px 22px 3px 22px !important;
  }

  .inner-consent-ui {
    padding-left: 25px;
  }

  .sync-progress-card {
    min-height: 400px;
    margin: 51px 23px 5px 23px !important
  }

  .profile-edit-card {
    min-height: 400px;
    margin: 51px 23px 5px 23px !important;
  }

  .desktop-hidden {
    display: none;
  }

  button.mat-raised-button {
    height: 37px !important;
    font-size: 16px;
  }

  button.mat-button {
    height: 37px !important;
    font-size: 16px;
    text-transform: uppercase;
    top: 5px;
  }

  .desktop-right-align {
    position: relative !important;
    float: right;
  }

  .nextCounsenUiBtn {
    right: -4px;
  }

  #consentedAccounsBlock {
    margin: auto;
    position: relative;
    width: 576px;
    margin-bottom: 80px;
  }

  .desktop-title {
    margin: auto;
    position: relative;
    width: 760px;
    margin-bottom: 70px !important;
  }

  .main-title {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .bank-name {
    font-size: 22px;
    height: 20px;
  }

  .info-sharing-consent-account-name {
    font-size: 18px;
    max-width: 500px;
  }

  .header {
    height: 57px !important;
  }

  .permissions {
    position: relative;
    max-width: 500px;
    margin: auto;
    margin-bottom: 40px;
  }

  #checked-account-list {
    margin: auto;
    position: relative;
    max-width: 480px;
    text-align: center;
  }

  #accessRevocation {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .permission-list-element {
    font-size: 15px;
  }

  .checkedAccountNumber {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
  }

  /*sync progress*/
  .dropdownelement {
    width: 450px !important;
    color: #56656f !important;
    margin-bottom: 15px
  }

  .profile-edit-card {
    min-height: 410px !important;
  }

  .inner-block {
    margin: auto;
    position: relative;
    width: 600px;
  }

  .sync-progress-block {
    margin-top: 0px;
    text-align: center;
  }

  .mobile-sync-text {
    font-size: 16px;
    width: 469px;
    margin: auto;
    margin-top: 30px;
    font-weight: 500;
  }

  #innerConsentUiBlock {
    margin: auto;
    position: relative;
    width: 660px;
    margin-top: 42px;
  }

  .mat-select {
    font-size: 18px;
  }

  .subtitle {
    font-size: 18px;
  }

  .desktop-float-left {
    float: left;
  }

  .bank-login-button {
    width: 165px !important;
  }

  .desktop-small-button {
    width: 127px !important;
  }

  .mediumDesktopBtn {
    width: 145px !important;
  }

  .bank-login-button {
    width: 165px !important;
  }

  .mat-form-field-infix {
    font-size: 16px;
    max-width: 450px !important;
  }

  .error-txt {
    margin-top: 50px;
    line-height: 26px;
  }

  .smsBlock {
    margin-top: 50px;
    margin-left: 20px;
  }

  .desktopSubtitle {
    margin: auto;
    position: relative;
    width: 760px;
    margin-top: -30px;
    left: 50px;
    margin-bottom: 50px !important;
  }

  .add-button {
    height: 45px;
  }

  .consentUiUl {
    font-size: 15px;
    margin: 50px 30px !important;
  }

  .consent-ui-introduction {
    font-size: 18px;
    margin: 8px 0px;
  }

  .bottomButtons {
    height: 45px;
    width: 100%;
  }

  .logo {
    height: 29px;
    margin-left: auto;
  }

  .tab-label {
    margin-left: 20px;
    cursor: pointer;
  }

  .tab-icon {
    margin-bottom: 10px;
  }

  .mat-tab-label-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: row !important;
    text-align: center !important;
  }

  .tab-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .error-txt {
    margin: 40px auto;
    position: relative;
    width: 500px;
  }

  .inner-error-block {
    margin: auto;
    position: relative;
    width: 620px;
    margin-bottom: 70px !important;
  }

  .card-parent-block {
    display: block;
    min-height: 350px;
  }

}

@media screen and (max-width: 600px) {
  .opened-sidenav {
    width: 100%;
  }

  .consent-list-card {
    width: 340px;
    margin: 20px auto;
  }

  .consent-list-new-bank-button {
    width: 380px;
  }

  .sync-progress-card {
    background: white;
    padding: 20px;
    text-align: left;
  }

  .error-parent-block {
    padding: 0px 25px;
  }

  .tab-label {
    display: none;
  }

  .circle {
    background: white;
    color: #8795A8;
  }

  .consent-ui-introduction {
    margin: 8px 0px;
  }

  body {
    background-color: #FFFFFF;
  }

  .consent-list {
    background-color: #E0E0E0;
    height: 101%;
  }

  button.mat-raised-button {
    height: 37px;
    font-size: 14px;
  }

  button.mat-button {
    height: 37px !important;
    font-size: 14px;
    text-transform: uppercase;
    top: 5px;
  }

  .oidc-content-body {
    max-width: 600px !important;
    margin: auto;
    border-radius: unset;
    padding: 27px 16px;
  }

  .standalone-condent-body {
    max-width: 600px !important;
    margin: auto;
    border-radius: unset;
  }

  #transactions-summary {
    min-width: 360px;
  }

  .main-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .bank-name {
    font-size: 17px;
    height: 20px;
  }

  .info-sharing-consent-account-name {
    font-size: 14px;
    max-width: 245px;
  }

  .header {
    height: 46px !important;
  }

  .isc-separation-line {
    width: 109% !important;
    margin-left: -16px;
    margin-top: 20px;
  }

  .permissions {
    margin: 30px 0px;
  }

  #checked-account-list {
    margin: 17px 37px;
    text-align: center;
  }

  #accessRevocation {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  .checkedAccountNumber {
    font-size: 14px;
    margin-left: 10px;
  }

  .dropdownelement {
    width: 100% !important;
    color: #56656f !important;
    margin-bottom: 15px
  }

  .smallBtn {
    width: 80px !important;
  }

  .consentUiUl {
    margin-top: 0px !important;
    margin-left: -15px !important;
  }
}

@media screen and (min-width: 601px) {
  .center-content {
    background: #E0E0E0;
  }

  .transaction-center-content {
    background: #E0E0E0;
  }

  .input-element {
    width: 300px !important;
    margin-top: 20px;
  }

  .largeBtn {
    width: 300px !important;
  }

  #transactions-summary {
    min-width: 322px;
  }
}

@media screen and (max-width: 340px) {
  .info-sharing-consent-account-name {
    max-width: 198px;
  }
}

.rights-extension-panel {
  margin-left: -10px !important;
  display: flex;
}

.rights-expension-panel-title {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center !important;
}

.rights-expension-panel-description {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  display: flex;
  justify-content: flex-end;
}

.rights-expension-panel-icon {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
