.transaction-detail-button {
  float: right;
}

.transaction-detail-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}

.transaction-comment-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

