<div class="standalone-condent-body">
  <app-header></app-header>
  <mat-tab-group  class="tab-group">
    <mat-tab label="Sync Tab">
      <ng-template mat-tab-label>
        <section (click)='selectActiveTab("SYNC_TAB");' class="tab-header">
          <mat-icon class="tab-icon">sync</mat-icon>
          <label class="tab-label">Szinkronizáció</label>
        </section>
      </ng-template>
      <app-sync></app-sync>
    </mat-tab>
    <mat-tab label="Transaction Tab">
      <ng-template mat-tab-label>
        <section (click) ='selectActiveTab("TRANSACTIONS_TAB")' class="tab-header">
          <mat-icon class="tab-icon">toc</mat-icon>
          <label class="tab-label">Tranzakciók</label>
        </section>
      </ng-template>
      <div class="transactions-tab-content">
        <div class="transaction-center-content">
          <div class="main-content">
            <app-transactions *ngIf="visibleComponent == 'TRANSACTIONS_TAB'"></app-transactions>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Transaction Tab">
      <ng-template mat-tab-label>
        <section (click)='selectActiveTab("SHARE_TAB");' class="tab-header">
          <mat-icon class="tab-icon">share</mat-icon>
          <label class="tab-label">Információ megosztás</label>
        </section>
      </ng-template>
      <div class="share-tab-content">
        <div class="main-content">
          <app-info-sharing></app-info-sharing>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
