@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://code.getmdl.io/1.3.0/material.indigo-blue.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import "assets/standalone_basic";

